h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}
h2.justify {
    text-align: justify;
    color: #555;
    font-family: Arial, sans-serif;
}
p {
    text-align: center;
    color: #666;
    font-family: Arial, sans-serif;
}
li.right {
    text-align: right;
    color: #777;
    font-family: Arial, sans-serif;
}
li.center {
    text-align: center;
    color: #888;
    font-family: Arial, sans-serif;
}
li.justify {
    text-align: justify;
    color: #999;
    font-family: Arial, sans-serif;
}
li.norms {
    color: #999;
    font-family: Arial, sans-serif;
}
td.top {
    vertical-align: top;
    color: #aaa;
    font-family: Arial, sans-serif;
}
td.middle {
    vertical-align: middle;
    color: #bbb;
    font-family: Arial, sans-serif;
}
td.bottom {
    vertical-align: bottom;
    color: #ccc;
    font-family: Arial, sans-serif;
}
span.baseline {
    vertical-align: baseline;
    color: #ddd;
    font-family: Arial, sans-serif;
}
span.sub {
    vertical-align: sub;
    color: #ff00ff;
    font-family: Arial, sans-serif;
}
span.super {
    vertical-align: super;
    color: #000;
    font-family: Arial, sans-serif;
}
span.pixel {
    vertical-align: -10px;
    color: #f00;
    font-family: Arial, sans-serif;
}