h1.right {
    text-align: right;
    color: #444;
    font-family: Arial, sans-serif;
}
p.center {
    text-align: center;
    color: #555;
    font-family: Arial, sans-serif;
}
h2.center {
    text-align: center;
    color: #666;
    font-family: Arial, sans-serif;
}
span.sub {
    vertical-align:sub;
    color: #777;
    font-family: Arial, sans-serif;
}