h1 {
    color: #1E4D2B;
}
h2 {
    color: #FFD60A;
}
h3 {
    color: #F5F0E1;
}
h4 {
    color: #D72638;
}
h5 {
    color: #048BA8;
}
h6 {
    color: #1B1B1B;
}
.i {
    color: #E07A5F;
}
.o {
    color: #3D5A40;
}
.p {
    color: #FAF3E0;
}