#food {
    background-color: black;
    width: auto;
    height: auto;
}
h1 {
    color: bisque;
}
.ul {
    background-color: burlywood;
}
#fav {
    color:aqua;
}
.list {
    color: aliceblue;
}
#div p {
    color: cadetblue;
}
